.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.button-margin {
  /*padding: 50px;*/
  margin-left: 2px;
  margin-right: 2px;
  margin-top: 2px;
  margin-bottom: 0px;
}

.small-width {
  width: 20%;
}

.form-margin {
  margin: 10px;
}

.pitch-width {
  width: 45%;
}

pre {
  white-space: pre-wrap;
}

.card-parent{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card {
  white-space: pre-wrap;
}


.card-width {
  width: 500px;
}

.noto-regular-loaded {
  font-family: 'Noto Sans Regular', Helvetica, sans-serif;
}

.dialogBox {
  overflow: auto;
}

#centerpoint {
  top: 50%;
  left: 50%;
  position:absolute;
}

#card-actions {
  position: absolute;
}

#left-button {
  position: absolute;
}

.flat-button {
  color: #1A237E;
}


